/* Colours
 * #444444 Gris letra general
 * #D0D0D0 Gris borde container y sombra
 * #30787e Verde de los links y punteado del menu y del header esa barra del titulo
 * #e78e35 Naranja del menu hover y link
 * #009 azul hover en targets  
 * 
*/
body {
	/*background: #e7e7e2;*/
	padding: 0; 
	margin: 0;
	text-align: center; /*part 1 of centering hack*/
}

/*global font family*/
body, p, h1, h2, h3, h4, h5, h6, address {
	font-family: arial, helvetica, verdana, sans-serif;
	color: #444444;
	font-size: 10px;
}
p2{
	font-family: monospace, helvetica, verdana, sans-serif;
	color: #444444;
	font-size: 10px;
}

img {
	border: 0;
}

#container {
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
/*	-moz-box-shadow: 0 0 8px #D0D0D0;*/
	box-shadow: 0 0 8px #D0D0D0;
	width: 900px;
	text-align: left; /*part 2 of centering hack*/
    font-family : Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
	margin: 20px auto;
	padding:  40px;
	/*position: relative;*/
	/* min-height: 100%;*/
	min-height: 600px;
	height: 100%;
	voice-family: "\"}\"";
    voice-family: inherit;
    height: auto;
}

/* CONTENT ELEMENTS */

		
#content {
	width: 620px;
    /*width: 827px; para cdo navigation 1000px*/
    margin-left: 175px;
    margin-right: 210px;
  }


#content p {
    padding-bottom: 5px;
	padding-top: 5px;
    /*saco esto para q no me haga una linea
    border-bottom: 1px solid #535523;*/
    /* A faint grey line below the text */;
  }


/*//////////////////////SETTINGS FOR FOOTER//////////////////////*/

#footer {
margin-top: 10px;
text-align: center;
color: #444;
font-size: 11px;
border: 5px solid #ddd;
padding: 10px;
}
/*//////////////////////END SETTINGS FOR FOOTER//////////////////*/

/*clearer hack*/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
/* End hide from IE-mac */


/***********************COLOR SETTINGS***********************/
/*To change the colors of the site or scheme, this is the place  */
/*************************************************************/

A:link {text-decoration: none; color: #30787e}
A:visited {text-decoration: none; color: #30787e}
A:active {text-decoration: none; color: #30787e}
/* .class1 A:hover {text-decoration: none;background-color: #d9ebff;} */
/*.class1 TD {border: 1px dotted}
.class1 TD:link {text-decoration: none}
.class1 TD:visited {text-decoration: none}
.class1 TD:active {text-decoration: none}
.class1 TD:hover {background-color: #d9ebff;}*/

input {
    background-color: #FFF;
    color: black /*#999999;*/
    border: 1px solid #CCC;
    font-size: 11px;
    padding: 3px;
  }

/* NAVIGATION ELEMENTS */
/* OLD NAVIGATION - deprecated */
	
#navigation ul {
    margin-top: 20;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    float: left;
    width: 120px;
    font-size: 12px;
  }

#navigation a {
    display: block;
    padding: 5px;
    width: 140px;
	border-bottom:1px dashed #30787e;
    /*border-bottom: 1px solid #535523;*/
  }

#navigation a:link, #navlist a:visited {
    /*color:#008c00;*/
    color:#e78e35;
    text-decoration: none;
  }

#navigation a:hover {
    background: #000000 url(../i/arrow.gif) 96% 50% no-repeat;
    background-color: #F5F5F5;
    color:#e78e35;
  }
	 
/* HEADER ELEMENTS berni*/ 
		
#header {
    border-bottom: 2px solid #30787e;
    padding-top: 5px;
    clear: both;
    margin-bottom: 10px;
    
  }

/* Added by me */
/*
	TABLES
*/

/* DEFAULT */

 th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
/*
	border-top: 1px dotted grey ;
	border-right: 1px dotted grey;
	border-left: 1px dotted grey;
	border-bottom: 1px dotted grey	;
	background-color: #d9ebff;
*/
}

td
{
	font-size: 12px;
	padding: 9px 8px 0px 8px;
	/*
	border-top: 1px dotted grey ;
	border-right: 1px dotted grey;
	border-left: 1px dotted grey;
	border-bottom: 1px dotted grey	;
	background-color: white;
*/	
}

/* HOME  */

#home table{
	width: 500px;
	float:right;

}	
#home td {

	width:50%;
	text-align: center;
	vertical-align: bottom;
	
	}    


/* TARGETS */
#targets
{
	font-size: 16px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#targets th
{
	font-size: 24px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#targets td
{
	font-size: 12px;
	color: #669;
	padding: 9px 8px 0px 8px;
	vertical-align:top; 	
}	
	
#targets tbody tr:hover td
{
	color: #009;
	
}

/* species in targets_results start hidden */

tr.starthidden { 
	display: inherit;
	
/*
	width: 200px;
*/
 }


/* NEW NAVIGATION */
navbox {
	position: relative;
	float: left;
}

ul.nav {
	list-style: none;
	display: block;
	width: 200px;
	float: left;
	position: relative;
	top: 25px;
	left: 25px;
	padding: 0px 0 0px 0;
	/* background: url(shad2.png) no-repeat; */
	-webkit-background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
		    transition: all 0.3s ease-out;

	/* background: #cbcbcb url(border.png) no-repeat; */
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 4px;
			border-top-right-radius: 4px;
 	-webkit-border-bottom-right-radius: 4px;
			border-bottom-right-radius: 4px;
	width: 70px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
		    box-shadow: 2px 2px 4px #888;

}

ul.nav li a:hover {
/*
	background: #ebebeb url(border.png) no-repeat;
*/
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}

