/* --------------------------------------------------
CSS Document For Leaves v1.0 - Anthonyy @ OSWD.org
-------------------------------------------------- */

/* CONTAINER */

		
#container {
    /* Lucida Grande for the Macs, Tahoma for the PCs */font-size : 11px;
    background-color : #FFF;
    color : #666;
    font-family : Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
    line-height : 1.6em;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    width : 924px;
  }

/* GENERAL MOJO AND MULA */


		
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 32px;
    color: #CC6633;
    margin-bottom: 30px;
    background-color: #FFF;
  }


h2 {
    color: #666666;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
  }


a {
    color:#CC6714;
    text-decoration: none;
  }


a:hover {
    color:#CC6714;
    background-color: #F5F5F5;
  }




input {
    background-color: #FFF;
    color: #999999;
    border: 1px solid #CCC;
    font-size: 11px;
    padding: 3px;
  }


.button {
    padding: 2px;
  }
.class1 A:link {text-decoration: none; color: #3300cc}
.class1 A:visited {text-decoration: none; color: #3300cc}
.class1 A:active {text-decoration: none; color: #3300cc}
/* .class1 A:hover {text-decoration: none;background-color: #d9ebff;} */
.class1 TD {border: 1px dotted}
.class1 TD:link {text-decoration: none}
.class1 TD:visited {text-decoration: none}
.class1 TD:active {text-decoration: none}
/*.class1 TD:hover {background-color: #d9ebff;} */


/* HEADER ELEMENTS */
		
#header {
    border-bottom: 2px solid #535523;
    padding-top: 5px;
    clear: both;
    margin-bottom: 10px;
  }

/* the slogan */
		
#header p {
    margin-top: -20px;
    margin-left: 30px;
    color: #999999;
  }

/* NAVIGATION ELEMENTS */
	
		 
#navigation ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    float: left;
    width: 140px;
    font-size: 12px;
  }


#navigation a {
    display: block;
    padding: 5px;
    width: 140px;
    border-bottom: 1px solid #535523;
  }

#navigation a:link, #navlist a:visited {
    color:#008c00;
    text-decoration: none;
  }


#navigation a:hover {
    background: #000000 url(arrow.gif) 96% 50% no-repeat;
    background-color: #F5F5F5;
    color:#008c00;
  }

/* THE SMALL BOX BELOW NAV */

		
#navigation p {
    margin-top: 40px;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
    border-top: 1px dotted #CCC;
  }

#navigation.submenu {
margin-right: 0;
}

#navigation.submenu a{
margin-right: 0;
}
#navigation.submenu a:hover {
background: #000000 url(arrow.gif) 96% 50% no-repeat;
background-color: #F5F5F5;
    color:#CC6714;
  }


/* CONTENT ELEMENTS */

		
#content {
    width: 560px;
    margin-left: 175px;
    margin-right: 210px;
  }


#content p {
    padding-bottom: 10px;
    border-bottom: 2px solid #535523;
    /* A faint grey line below the text */;
  }

/* SIDEBAR ELEMENTS */

#form {
 width: 560px;
    margin-left: 175px;
    margin-right: 210px;
}
		
#sidebar {
    float: right;
    width: 175px;
  }


#sidebar p {
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
  }

/* FOOTER ELEMENTS */

		
#footer {
    margin-top: 20px;
    clear: both;
    background-color:#575352;
    padding: 0px 5px 0px 5px;
  }


#footer p {
    color:#FFFFFF;
    padding: 5px;
  }


#footer p a {
    color: #FFFFFF;
    border-bottom: 1px dotted #89817f;
  }


#footer p a:hover {
    color: #89817f;
    background-color:#575352;
  }



/* And they lived happily ever after. The End. */

